<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" > 
</head>
<body>
    <section class = "top">
        <img src="manishDude.png">
      <ul> 
       <li>about</li>   
       <li>gallery</li>
        <li>works</li> 
      </ul>
    </section>
    <section class="works">

    <h1> 
        <a href="https://manishpoduval.com/">you can check all his stufs in!</a> </h1>
    <h1><a href="https://age-of-manish.herokuapp.com/">or play his game in</a>  </h1>
    <h1> <a href="https://www.instagram.com/itspodu/">and check his awesome arts!</a></h1>
</section>
</body>
</html>